
body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.4643088288em -0.0647440629em 7px rgba(255, 120, 0, 0.9), 1.5830624197em 1.0531647243em 7px rgba(0, 255, 123, 0.9), 1.4769817213em 0.2323678442em 7px rgba(0, 226, 255, 0.9), 1.6723773881em 0.9339648041em 7px rgba(144, 0, 255, 0.9), 0.9645716807em 2.1456074107em 7px rgba(57, 0, 255, 0.9), 0.8069370709em 0.0117679915em 7px rgba(67, 0, 255, 0.9), -0.1037560214em 1.2324624018em 7px rgba(0, 255, 21, 0.9), 2.0770783604em 0.8345262358em 7px rgba(0, 179, 255, 0.9), 0.3367129876em 0.4190795225em 7px rgba(98, 0, 255, 0.9), 1.6815514779em 1.9455471471em 7px rgba(255, 38, 0, 0.9), 0.1642139264em 1.2370943538em 7px rgba(249, 0, 255, 0.9), 1.3360142962em 1.2020176181em 7px rgba(255, 0, 85, 0.9), 2.3147850622em -0.3740721744em 7px rgba(255, 196, 0, 0.9), 0.4669514248em 0.2011210009em 7px rgba(116, 255, 0, 0.9), 0.4025301188em 2.4566496969em 7px rgba(255, 0, 228, 0.9), 1.8358679197em 0.6750049814em 7px rgba(255, 0, 217, 0.9), -0.1611486119em 0.7173969925em 7px rgba(156, 255, 0, 0.9), 1.3813603578em 1.1660688062em 7px rgba(68, 0, 255, 0.9), 0.1566468456em 0.9861016316em 7px rgba(255, 199, 0, 0.9), 0.0725949954em 0.5182502989em 7px rgba(0, 255, 222, 0.9), 1.6790763302em 1.9831294374em 7px rgba(255, 0, 184, 0.9), 0.2428042177em 2.4734014067em 7px rgba(255, 0, 155, 0.9), 0.369130183em 0.1953544247em 7px rgba(255, 0, 144, 0.9), 1.7858691056em 1.6620606435em 7px rgba(255, 0, 44, 0.9), 0.0371733073em -0.1217695901em 7px rgba(182, 255, 0, 0.9), -0.2673968703em 1.3207147791em 7px rgba(255, 0, 238, 0.9), 0.3676024557em 0.7189153634em 7px rgba(0, 255, 235, 0.9), 1.5073911685em 1.3640351379em 7px rgba(0, 112, 255, 0.9), 0.0275743791em 0.3965539384em 7px rgba(0, 92, 255, 0.9), -0.1142922882em -0.4546606706em 7px rgba(255, 0, 91, 0.9), 2.492172152em 0.6778363429em 7px rgba(151, 0, 255, 0.9), -0.1111931872em -0.0395287553em 7px rgba(255, 0, 9, 0.9), 0.2878524336em 1.8967732603em 7px rgba(0, 114, 255, 0.9), -0.3908285931em -0.2259268828em 7px rgba(232, 255, 0, 0.9), -0.1827064844em 0.6562869944em 7px rgba(0, 255, 236, 0.9), 0.6346171062em 1.6775671309em 7px rgba(0, 45, 255, 0.9), 1.5281428156em 0.8737947418em 7px rgba(0, 255, 119, 0.9), 0.8844343978em 1.7489445793em 7px rgba(255, 0, 135, 0.9), -0.0982104852em 1.3989355705em 7px rgba(227, 255, 0, 0.9), 1.4594211874em 1.3521009065em 7px rgba(90, 255, 0, 0.9), 2.1639795304em 2.0485919471em 7px rgba(0, 131, 255, 0.9);
  -webkit-animation-duration: 44s;
  animation-duration: 44s;
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.6403434654em -0.1013424852em 7px rgba(255, 47, 0, 0.9), 1.2222572809em -0.4896130242em 7px rgba(255, 33, 0, 0.9), 1.880625372em -0.3512274342em 7px rgba(255, 0, 209, 0.9), 1.257218428em 1.7469879204em 7px rgba(255, 156, 0, 0.9), 0.7348452573em 2.3364934452em 7px rgba(119, 255, 0, 0.9), 1.8506075672em 1.8855610637em 7px rgba(253, 0, 255, 0.9), 0.2119879756em -0.3968651532em 7px rgba(255, 0, 154, 0.9), 1.0433544662em 1.0445812915em 7px rgba(0, 255, 22, 0.9), 0.9157155033em 1.8233631087em 7px rgba(191, 0, 255, 0.9), 2.067911328em 0.289802553em 7px rgba(255, 39, 0, 0.9), 2.1207131093em 1.7731484373em 7px rgba(0, 71, 255, 0.9), 2.0784911338em 1.8258043661em 7px rgba(0, 255, 152, 0.9), -0.3825257916em 1.9547217105em 7px rgba(0, 31, 255, 0.9), 1.2126645328em 0.4456962238em 7px rgba(0, 8, 255, 0.9), -0.0119552304em -0.083970122em 7px rgba(255, 144, 0, 0.9), 2.1596903238em -0.3411656375em 7px rgba(15, 0, 255, 0.9), 2.4510597028em 0.0976730685em 7px rgba(0, 255, 57, 0.9), -0.3836918118em 0.899889302em 7px rgba(255, 0, 92, 0.9), 2.3373973736em 2.2718114429em 7px rgba(0, 231, 255, 0.9), 0.1713648279em 2.2820119529em 7px rgba(255, 40, 0, 0.9), 1.2954261791em 1.7734364737em 7px rgba(255, 0, 52, 0.9), 0.648004463em 1.1010070479em 7px rgba(118, 0, 255, 0.9), 0.6567017299em 1.2405979033em 7px rgba(0, 255, 201, 0.9), 0.9512539975em 0.7467798605em 7px rgba(0, 118, 255, 0.9), 1.2919502143em 0.079320069em 7px rgba(255, 0, 181, 0.9), 1.6412905065em 0.9152421357em 7px rgba(60, 255, 0, 0.9), 0.2615783432em 1.8589646634em 7px rgba(255, 78, 0, 0.9), 1.0960055285em 1.4196745707em 7px rgba(67, 255, 0, 0.9), 2.1869856866em 2.228595104em 7px rgba(255, 0, 141, 0.9), 0.4950435385em 1.9235743403em 7px rgba(255, 106, 0, 0.9), 1.0676167073em 0.1481263049em 7px rgba(208, 0, 255, 0.9), 1.9522652197em 0.622825228em 7px rgba(255, 0, 194, 0.9), -0.3286691259em 0.7766836241em 7px rgba(255, 80, 0, 0.9), 0.6176494875em 1.7974369764em 7px rgba(8, 0, 255, 0.9), 1.0545101751em 1.1116162336em 7px rgba(0, 255, 152, 0.9), 0.1734754562em -0.1460470925em 7px rgba(12, 255, 0, 0.9), -0.4630448326em 2.2639085513em 7px rgba(0, 121, 255, 0.9), -0.3222493599em 1.6235875937em 7px rgba(255, 0, 53, 0.9), -0.4345087398em 1.5478255024em 7px rgba(0, 255, 21, 0.9), 0.9865361954em 2.2158013359em 7px rgba(255, 171, 0, 0.9), 0.2035659477em 1.8752718323em 7px rgba(255, 0, 18, 0.9);
  -webkit-animation-duration: 43s;
  animation-duration: 43s;
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.7686898657em 0.3137598305em 7px rgba(0, 99, 255, 0.9), 1.2593694596em -0.0077491215em 7px rgba(0, 235, 255, 0.9), 0.6391638736em 1.2179092217em 7px rgba(78, 255, 0, 0.9), 1.4002379208em -0.2114254158em 7px rgba(255, 0, 65, 0.9), 1.8517942983em 2.3580971522em 7px rgba(229, 0, 255, 0.9), 2.4988425119em 1.0909234102em 7px rgba(255, 0, 126, 0.9), 1.3853221453em -0.3407976721em 7px rgba(5, 255, 0, 0.9), 2.2520272589em 0.4663635488em 7px rgba(121, 255, 0, 0.9), 1.9185319954em 0.2318409073em 7px rgba(255, 243, 0, 0.9), 1.3808369105em 0.105877206em 7px rgba(232, 0, 255, 0.9), 0.2689028164em 1.2902053549em 7px rgba(0, 87, 255, 0.9), 2.1256171242em 2.4881070293em 7px rgba(0, 255, 177, 0.9), 0.826891737em 1.7391265178em 7px rgba(255, 197, 0, 0.9), 2.464104169em 0.626515099em 7px rgba(0, 180, 255, 0.9), 0.0627002686em 2.1309952773em 7px rgba(0, 207, 255, 0.9), 1.4529596291em 0.820447206em 7px rgba(0, 255, 219, 0.9), 2.4449594988em 1.4984160996em 7px rgba(255, 0, 98, 0.9), 1.8919498341em 1.7330237009em 7px rgba(0, 255, 113, 0.9), 1.0000918779em 0.506286164em 7px rgba(255, 0, 161, 0.9), 1.3197665388em 0.2212954756em 7px rgba(255, 85, 0, 0.9), 1.0531952627em 1.035552109em 7px rgba(255, 0, 241, 0.9), 1.6542320583em 2.1091682598em 7px rgba(0, 47, 255, 0.9), 2.1025365754em 0.1310733905em 7px rgba(0, 84, 255, 0.9), 2.1587105917em 0.7859625742em 7px rgba(240, 255, 0, 0.9), 1.8104705464em 2.2884261951em 7px rgba(0, 255, 153, 0.9), 1.8782149941em 1.2015394801em 7px rgba(0, 255, 136, 0.9), 2.4504488309em 1.5705493989em 7px rgba(0, 246, 255, 0.9), 0.3434460953em 1.2651801721em 7px rgba(0, 255, 145, 0.9), 0.4643558111em 0.0728079961em 7px rgba(255, 81, 0, 0.9), 1.6329804217em 1.0782982209em 7px rgba(0, 255, 113, 0.9), 1.0449316865em 1.9929145899em 7px rgba(0, 219, 255, 0.9), 0.1236933665em 1.3004839765em 7px rgba(255, 157, 0, 0.9), 0.8544454649em 0.6571392877em 7px rgba(29, 255, 0, 0.9), 0.9242254187em 2.2877397462em 7px rgba(255, 0, 163, 0.9), 2.1706334745em -0.2563713487em 7px rgba(0, 255, 222, 0.9), 1.3678216508em -0.126679425em 7px rgba(255, 199, 0, 0.9), 1.9798852792em 1.6163941335em 7px rgba(218, 0, 255, 0.9), 2.3117440046em 0.8500889484em 7px rgba(45, 255, 0, 0.9), 2.2653050222em 1.3021344838em 7px rgba(0, 74, 255, 0.9), 0.9681873803em 1.3183374682em 7px rgba(0, 223, 255, 0.9), -0.2879616988em -0.3019146652em 7px rgba(255, 226, 0, 0.9);
  -webkit-animation-duration: 42s;
  animation-duration: 42s;
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 1.4199582907em 0.6634323595em 7px rgba(255, 218, 0, 0.9), 1.0967872048em 1.2380847023em 7px rgba(255, 191, 0, 0.9), -0.1286618753em 2.3560741182em 7px rgba(50, 0, 255, 0.9), 2.4556784759em 0.839046501em 7px rgba(0, 255, 160, 0.9), 0.6704398694em -0.0886996139em 7px rgba(245, 0, 255, 0.9), 1.9985127176em 0.4899010791em 7px rgba(0, 255, 150, 0.9), -0.1574411581em 2.3077049391em 7px rgba(228, 0, 255, 0.9), 0.2221237302em 2.4122085674em 7px rgba(0, 4, 255, 0.9), -0.3536650718em 1.2018283734em 7px rgba(131, 255, 0, 0.9), 2.0025396038em 2.1637744744em 7px rgba(0, 255, 29, 0.9), 0.7691762437em -0.3138383547em 7px rgba(0, 70, 255, 0.9), 0.3574273331em 0.5668459941em 7px rgba(76, 0, 255, 0.9), -0.3374306016em 1.2671644763em 7px rgba(255, 35, 0, 0.9), 2.178512976em 0.0386704586em 7px rgba(0, 218, 255, 0.9), 1.6013057494em 1.366304864em 7px rgba(0, 201, 255, 0.9), 0.0089057501em -0.1889980869em 7px rgba(0, 56, 255, 0.9), 1.0767763615em 1.7813561006em 7px rgba(225, 255, 0, 0.9), 0.0379708903em 1.0920610077em 7px rgba(0, 255, 213, 0.9), 2.0704953212em 0.2232851605em 7px rgba(255, 154, 0, 0.9), 1.9543861141em -0.2280892157em 7px rgba(255, 0, 8, 0.9), 1.6846541112em -0.459904597em 7px rgba(124, 255, 0, 0.9), 2.2766779329em 1.1571995347em 7px rgba(210, 255, 0, 0.9), 2.1094377628em -0.4171756822em 7px rgba(255, 0, 30, 0.9), 1.9259761294em 0.0528391462em 7px rgba(0, 223, 255, 0.9), 0.9542114926em -0.376005877em 7px rgba(88, 0, 255, 0.9), -0.417413079em 1.7894232082em 7px rgba(56, 0, 255, 0.9), 0.222861511em 1.2449901412em 7px rgba(255, 0, 96, 0.9), 1.5985628801em 2.2648324162em 7px rgba(255, 67, 0, 0.9), 1.0995022083em 2.0943502049em 7px rgba(255, 0, 122, 0.9), 0.3706497308em 2.4170420792em 7px rgba(0, 255, 141, 0.9), 1.1924463328em -0.1910078122em 7px rgba(0, 255, 159, 0.9), 0.5857569076em 0.7844255461em 7px rgba(255, 0, 115, 0.9), 2.0282724085em 0.9758239775em 7px rgba(255, 0, 139, 0.9), 0.5055820041em 1.0981517188em 7px rgba(0, 255, 223, 0.9), 0.1671708129em -0.2674687503em 7px rgba(0, 190, 255, 0.9), -0.2001596172em 2.0198914229em 7px rgba(255, 84, 0, 0.9), 0.0957949582em 0.9808925554em 7px rgba(0, 40, 255, 0.9), 1.6588975897em 0.1262411062em 7px rgba(255, 155, 0, 0.9), -0.1184924902em 2.12627568em 7px rgba(134, 255, 0, 0.9), 1.5261724806em -0.1039990914em 7px rgba(206, 255, 0, 0.9), 2.0172082778em -0.4417910649em 7px rgba(11, 255, 0, 0.9);
  -webkit-animation-duration: 41s;
  animation-duration: 41s;
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
}

html::before {
  content: '';
  letter-spacing: .5em;
  text-shadow: 0 0 5px #000;
  white-space: pre;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

html:first-line {
  font-size: 300%;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
